# code by using input and calculate sum of numbers

In [2]:
n1=int(input("enter 1st number"))
n2=int(input("enter 2nd number"))
n3=n1+n2
print(n3)

enter 1st number 23
enter 2nd number 34

57

# code by using input and calculate multiplication of numbers

In [5]:
n1=int(input("enter 1st number"))
n2=int(input("enter 2nd number"))
n3=n1*n2
print(n3)

enter 1st number 34
enter 2nd number 56

1904

# code by using input and calculate division of numbers

In [8]:
n1=int(input("enter 1st number"))
n2=int(input("enter 2nd number"))
n3=n1/n2
print(n3)

enter 1st number 34
enter 2nd number 67

0.5074626865671642

In [10]:
n1=input("enter 1st number")
n2=input("enter 2nd number")
n3=n1*n2
print(n3)

enter 1st number 23
enter 2nd number 34

TypeError: can't multiply sequence by non-int of type 'str'

In [12]:
n1=float(input("enter 1st number"))
n2=float(input("enter 2nd number"))
n3=n1*n2
print(n3)

enter 1st number 23.9
enter 2nd number 34.8

831.7199999999999

In [14]:
n1=float(input("enter 1st number"))
n2=float(input("enter 2nd number"))
n3=n1*n2
print(n3)

enter 1st number 23
enter 2nd number 56

1288.0

In [16]:
n1=bool(input("enter 1st number"))
n2=bool(input("enter 2nd number"))
n3=n1*n2
print(n3)

enter 1st number 23
enter 2nd number 34

1

In [24]:
bool(None)

False

In [26]:
True*False

0

In [28]:
n1=bool(input("enter 1st number"))
n2=bool(input("enter 2nd number"))
n3=n1*n2
print(n3)

enter 1st number
enter 2nd number

0

In [30]:
name= input("enter name:")
m0b=int(input("enter number:"))
bal=int(input("enter balance:"))

enter name: hiral
enter number: 3456789921
enter balance: 2389

# comma separators

In [35]:
print("Hi", name, "your mobile number :", m0b, "is due for recharge.\ncurrent balance is", bal)

Hi hiral your mobile number : 3456789921 is due for recharge.
current balance is 2389

In [39]:
print("Hi", name, "your mobile number :", m0b, "is due for recharge." "\n current balance is", bal)

Hi hiral your mobile number : 3456789921 is due for recharge.
 current balance is 2389

# string separators

In [44]:
print(f"Hi {name} your mobile number : {m0b} is due for recharge. current balance is {bal}")

Hi hiral your mobile number : 3456789921 is due for recharge. current balance is 2389